*{
    box-sizing: border-box;
}
.roof{
    height: 0;
    width: 0;
    border-left: 500px solid transparent; 
    border-right: 500px solid transparent;
    border-bottom: 500px solid black;
    margin-top: 200px;
    margin-bottom: -500px;
    margin-left: auto;
    margin-right: auto;
}
.wall{
    border: 10px solid black;
    height: 1000px;
    width: 1000px;
    margin: 500px auto;
    background-color: brown;
}
.left-window{
    border: 3px solid burlywood;
    height: 100px;
    width: 100px;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 65%;
    display: inline-block;
}
.left-window:hover,
.right-window:hover{
    background-color: rgb(198, 198, 236);    
}
.right-window{
    border: 3px solid burlywood;
    height: 100px;
    width: 100px;
    margin-top: 20%;
    display: inline-block;
}
.window-line{
    border: 1px solid burlywood;
    height: 100%;   
    width: 0;
    margin: auto;
}
.window-knob{
    border: 2px solid burlywood;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: -60% auto;
    background-color: burlywood
}
