*{
    box-sizing: border-box;
}
.roof{
    height: 0;
    width: 0;
    border-left: 500px solid transparent; 
    border-right: 500px solid transparent;
    border-bottom: 500px solid black;
    margin-top: 200px;
    margin-bottom: -500px;
    margin-left: auto;
    margin-right: auto;
}